* { outline-width: 2px;
    outline-color: brown;
    outline-style: dashed;
    font-family: font-family: 'Handlee', cursive;}

.body {
    background-color: black;
}
.transfondo{
    background-color: rgba(128, 128, 128, 0.842);
    width: 600px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
}
.cuerpo {
    background-color: honeydew;
    width: 600px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}
.titulo-carta {
    background-color: hotpink;
    overflow: hidden;
}

.cuerpo-carta {
    background-color: red;
    overflow: hidden;
}

.cuerpo-izquierda {
    background-color: indigo;
    float: left;
    width: 50%;
}

.cuerpo-derecha {
    background-color: khaki;
    float: right;
    width: 50%;
}

.footer-carta {
    background-color: royalblue;
    text-align: center;
}

