* { outline-width: 2px;
    outline-color: brown;
    outline-style: dashed;
    font-family: font-family: 'Handlee', cursive;
    font-size: auto 

}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.6fr 1.4fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "titulo img"
      "text input"
      "buttom buttom";
  }
  
  .buttom { grid-area: buttom; }
  
  .text { grid-area: text; }
  
  .input { grid-area: input; }
  
  .titulo { grid-area: titulo; }
  
  .img { grid-area: img; }
  